*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    padding-top: 200px;
    background-image: url(spacebg.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


#searchbox{
    width: 50%;
    margin: auto;
    position: absolute;
    right: 15%;
    top: 55%;
    width: 60%;
}

#searchbox input,button{
    width: 75%;
    bottom: 2px solid white;
    border-right: 0px;
    font-size: 18px;
    padding: 12px;
    background: white;
    color: black;
    border-color: transparent;
    position: absolute;
    right: 20%;
    width: 80%;
}

#searchbox button{
    width: 25%;
    background: #eee;
    color: black;
    float: right;
    border-left: 0px;
}

#searchbox button:hover{
    opacity: .8;
}

img {
    padding: 2px;
    width: 500px;
    position: absolute;
    top: 80px;
    right: 35%;
    width: 450px;
    height: 250px;
}